Repository Im-Rises/pokedex-react, pull requests merged in 2023-09, with the labels that each got.

#41 Pokeinfos
  src/constants/pokemon-type-constant.js
  src/images/bug.svg
  src/images/dark.svg
  src/images/dragon.svg
  src/images/electric.svg
  src/images/fairy.svg
  src/images/fighting.svg
  src/images/fire.svg
  src/images/flying.svg
  src/images/ghost.svg
  src/images/grass.svg
  src/images/ground.svg
  src/images/ice.svg
  src/images/normal.svg
  src/images/poison.svg
  src/images/psychic.svg
  src/images/rock.svg
  src/images/steel.svg
  src/images/water.svg
  src/main.jsx
  src/pages/PokemonDetails.jsx
  src/requests/index.js
Labels: sources

#42 Opening
  src/app.jsx
  src/components/Opening/GitHub/GitHubBar.jsx
  src/components/Opening/GitHub/GitHubBar.scss
  src/components/Opening/GitHub/GitHubLink.jsx
  src/components/Opening/GitHub/GithubLink.scss
  src/components/Opening/PokeOpening.jsx
  src/components/Opening/PokeOpening.scss
  src/components/Opening/TopBottomBars/BtmOpening.jsx
  src/components/Opening/TopBottomBars/TopOpening.jsx
  src/components/PokemonList/List.jsx
  src/constants/pokemon-type-constant.js
  src/images/github/github.svg
  src/images/logo/logo-pokedex.png
  src/images/types/bug.svg
  src/images/types/dark.svg
  src/images/types/dragon.svg
  src/images/types/electric.svg
  src/images/types/fairy.svg
  src/images/types/fighting.svg
  src/images/types/fire.svg
  src/images/types/flying.svg
  src/images/types/ghost.svg
  src/images/types/grass.svg
  src/images/types/ground.svg
  src/images/types/ice.svg
  src/images/types/normal.svg
  src/images/types/poison.svg
  src/images/types/psychic.svg
  src/images/types/rock.svg
  src/images/types/steel.svg
  src/images/types/water.svg
  src/main.jsx
  yarn.lock
Labels: repo, sources

#43 Page linking
  src/app.jsx
  src/index.scss
  src/pages/PokemonDetails.jsx
  src/pages/PokemonDetails.scss
  src/pages/PokemonList.jsx
  src/pages/PokemonList.scss
Labels: sources

#48 Pokemonlist page
  src/app.jsx
  src/components/PokemonList/List.jsx
  src/components/PokemonList/PokemonListComponent.jsx
  src/components/PokemonList/PokemonListElement.jsx
  src/pages/PokemonDetails.jsx
  src/pages/PokemonList.jsx
  src/pages/PokemonList.scss
  src/requests/index.js
  src/requests/pokedex-request.js
  src/requests/pokemon-request.js
Labels: sources

#49 Don't insult me clem ;)
  .eslintrc.cjs
  src/app.scss
  src/components/PokemonList/PokemonListComponent.jsx
  src/components/PokemonList/PokemonListElement.jsx
  src/constants/pokemon-data-fetch.js
  src/pages/PokemonDetails.jsx
  src/pages/PokemonDetails.scss
  src/pages/PokemonList.jsx
  src/pages/PokemonList.scss
Labels: sources

#50 Develop
  .eslintrc.cjs
  src/app.jsx
  src/app.scss
  src/components/PokemonList/List.jsx
  src/components/PokemonList/PokemonListComponent.jsx
  src/components/PokemonList/PokemonListElement.jsx
  src/constants/pokemon-data-fetch.js
  src/pages/PokemonDetails.jsx
  src/pages/PokemonDetails.scss
  src/pages/PokemonList.jsx
  src/pages/PokemonList.scss
  src/requests/index.js
  src/requests/pokedex-request.js
  src/requests/pokemon-request.js
Labels: sources

#51 Develop
  .eslintignore
  index.html
  src/app.jsx
  src/app.scss
  src/images/loading/pokeball_loading.gif
  src/index.scss
  src/pages/PokemonList.jsx
  src/pages/PokemonList.scss
  src/test/App.test.js
  src/web-vitals/reportWebVitals.js
Labels: repo, sources

#52 Develop
  README.md
  src/components/LazyLoadImage/LazyLoadImage.jsx
  src/components/PokemonList/PokemonListElement.jsx
  src/constants/pokemon-data-fetch.js
  src/images/loading/pokeball-loading-150x150.gif
  src/images/loading/pokeball-loading-50x50.gif
  src/pages/PokemonList.jsx
  src/pages/PokemonList.scss
Labels: repo, readme, sources
